.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownButtonStyle {
    padding: 10px;
}

.dropdownContent {
    display: none;
    position: absolute;
}

.dropdownContent {
    display: block;
}